* {
  font-family: "SuperSunday";
}
body {
  background-color: rgba(248, 221, 212, 0.938) !important;
}
#elin-me-image {
  width: 70px;
}
li {
  font-size: 1.3rem;
}
button {
  background-color: #856054 !important;
  font-size: 2rem !important;
}
#navbarNav {
  text-align: center;
}
#navbar-color {
  background-color: #856054 !important;
}
p,
a {
  font-family: "Montserrat";
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat.regular.ttf");
}

@font-face {
  font-family: SuperSunday;
  src: url("./fonts/SuperSunday-vn3MA.ttf");
}
