* {
  font-family: "SuperSunday";
}
body {
  background-color: rgba(97, 60, 47, 0.938);
}

p {
  font-family: "Montserrat";
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat.regular.ttf");
}

@font-face {
  font-family: SuperSunday;
  src: url("./fonts/SuperSunday-vn3MA.ttf");
}
