* {
  font-family: "SuperSunday";
}
body {
  background-color: rgba(248, 221, 212, 0.938) !important;
}
#elin-me-image {
  width: 90px;
}
li {
  font-size: 1.5rem;
}

#navbar-color {
  background-color: #856054;
}
p {
  font-family: "Montserrat";
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat.regular.ttf");
}

@font-face {
  font-family: SuperSunday;
  src: url("./fonts/SuperSunday-vn3MA.ttf");
}
